body {
    font-weight: 400;
    color: #fdfdfd;
    width: 100vw;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
}
header {
    position: fixed;
    top: 20px;
    left: 40px;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1px;
    z-index: 99999;
}
#main {
    width: 100vw;
    height: 760px;
    position: relative;
    background: url(../images/bg.png);
}
#main_slider {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.slide_wrap {
    width: 700%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;

    transition: transform 0.6s ease;
}
.m_slides {
    width: calc(100%/7);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slides1 {
    background-image: url("../images/main_수련수련.png");
}
.slides2 {
    background-image: url("../images/main_하나니.png");
}
.slides3 {
    background-image: url("../images/main_일하는용형.png");
}
.slides4 {
    background-image: url("../images/main_유엘섬.png");
}
.slides5 {
    background-image: url("../images/main_이승빈.png");
}
.slides6 {
    background-image: url("../images/main_팀호티.png");
}
.slides7 {
    background-image: url("../images/main_mbcrew.png");
}
#main_text {
    position: absolute;
    top: 417px;
    right: 500px;
}
#main_button {
    position: absolute;
    top: 630px;
    right: 450px;
    display: flex;
}
#main_button > a {
    display: block;
    margin-right: 30px;
}
#main_button > a > img {
    display: block;
    width: 100%;
    height: 100%;
}

/* 2page - creators */
.content {
    width: 1335px;
    margin: 60px auto 100px;
}
h2 {
    font-size: 40px;
    font-weight: 700;
    color: #FF3300;
    margin-bottom: 40px;
}
#creators_view {
    width: calc((340px * 3.5) + (55px *3));
    overflow: hidden;
    margin: 0 auto;
}
.creator_track {
    display: flex;
    gap: 55px;
    transition: transform 0.6s ease;
}
.creator {
    flex: 0 0 340px;
}
.creator img {
    width: 100%;
    display: block;
}
/* page3 영상연결 */
.video_section {
    position: relative;
    z-index: 10;
    background: linear-gradient(to bottom, transparent, #222)
}
.video_wrap {
    width: 100%;
    max-width: 1360px;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
}
.video_wrap iframe {
    width: 100%;
    height: 100%;
    display: block;
}

footer {
    background-color: #222;
    position: relative;
    z-index: 1;
    padding-bottom: 120px;
}
#foo_content {
    width: 100%;
    margin: 0 auto;
    padding: 300px 0 80px;
    transform: translateY(-160px);
    position: relative;
    z-index: 2;
    background-color: #222;
}
#foo_content > div > h2 {
    text-align: center;
}

.flex_foo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 60px 0;
}
.flex_foo > h3 {
    font-size: 24px;
    font-weight: bold;
    color: #FF3300;
}
.footer {
    display: flex;
    gap: 55px;
    justify-content: center;
    align-content: center;
}